<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="3" parallel="classes" name="Test">
		<classes>
			<class name="tests.TestRunner1"></class>
			<class name="tests.TestRunner2"></class>
			<class name="tests.TestRunner3"></class>
			<class name="tests.TestRunner4"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
